<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Fair-opinion | Только честные отзывы!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="content-wrapper">
        <header>
            <section class="header__top">
                <div class="container">
                    <div class="header__logo col-lg-4">
                        <a href="/">
                            <img src="{{ asset('images/logo.png') }}"/>
                        </a>
                    </div>
                    <div class="header__search col-lg-6">
                        <form>
                            <input type="search">
                            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </form>
                    </div>
                    <div class="header__add col-lg-2">
                        <a href="#">Добавить отзыв</a>
                    </div>
                </div>
            </section>
            <section class="header__bottom">
                <div class="container">
                    <ul class="top-menu">
                        <li><a href="#">АВТО</a>
                            <ul>
                                <li><a href="">АВТОСАЛОНЫ</a></li>
                                <li><a href="">АВТОШКОЛЫ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">НЕДЖВИЖИМОСТЬ</a></li>
                        <li><a href="#">ОБРАЗОВАНИЕ</a></li>
                        <li><a href="#">ПУТЕШЕСТВИЯ</a></li>
                        <li><a href="#">СПОРТ</a></li>
                    </ul>
                </div>
            </section>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p>© 2018 fair-opinion.ru </p>
                    </div>
                    <div class="col-lg-6">
                        <a href="">О нас&nbsp&nbsp&nbspОбратная связь</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </body>
</html>
