{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="review-item">
                        <div class="review-item__top">
                            <h2>Автосалон Тест</h2>
                            <div class="rating">
                                <p>Средняя оценка:</p>
                                <span id="rateYo"></span>
                            </div>
                        </div>
                        <div class="review-item__content">
                            <img src="http://zubil.net/wp-content/uploads/2017/08/bmw_salon1.jpg"/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="review-item__bottom">
                            <p class="review-item__address">г. Москва, ул. 3-я Хорошевская, дом 7, корп. 1</p>
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar">
                        <h2>Новое</h2>
                        <div class="item-new">
                            <h3>Автосалон тест</h3>
                        </div>
                        <h2>Последние отзывы</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
